.row {
  display: flex;
  flex-flow: column nowrap;
}

@media only screen and (min-width: 450px) {
  .row {
    flex-flow: row nowrap;
  }
}

.image {
  margin-right: 1rem;
}

.content {
  flex: 1 auto;
}

.name {
  margin: 0;
  font-size: 1.4rem;
  margin-bottom: .4rem;
}

.heading {
  margin: 0;
  font-size: 1rem;
  margin-bottom: .4rem;
}

.list {
  font-size: 0.85rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}
