.row {
  display: flex;
  flex-flow: column nowrap;
}

.col1 {
  margin-right: 1rem;
}

.col2 {
  flex: 1 auto;
}

@media only screen and (min-width: 450px) {
  .row {
    flex-flow: row nowrap;
  }
}
