.breadcrumbs {
  list-style: none;
  font-size: 0.85rem;
  padding: 0;
  margin: 0 0 .5rem .2rem;
}

.breadcrumb {
  display: inline-block;
  position: relative;
  padding: 0 1.3rem 0 0;
}

.breadcrumb:after {
  content: "";
  display: block;
  position: absolute;
  top: .35rem;
  right: .5rem;
  border-top: .15rem solid #999;
  border-right: .15rem solid #999;
  width: .4rem;
  height: .4rem;
  transform: rotate(45deg);
}

.breadcrumb:last-child {
  margin-right: 0;
}

.breadcrumb:last-child:after {
  content: none;
}

.link {
  text-decoration: none;
}
